{% extends "base.html" %}

{% block title %}
Receipt Analyzer -- Welcome
{%  endblock %}

{% block content %}
    <article>
        <header>
            <h1>Welcome</h1>
            <p>Receipt Analyzer is an OCR (optical character recognition) application for storing and managing cash receipt documents</p>
        </header>

        <section>
            <h2>Recently Added Receipts</h2>
                {% if new_bookmarks %}
                    <ul>
                        {% for bm in new_bookmarks %}
                            <li>
                                <a href='{{ url_for('user', username=bm.user.username) }}'>
                                {{ bm.user.username }}</a> added <a href="{{ bm.url }}">
                                {{ bm.description }}</a></li>
                        {% endfor %}
                    </ul>
                {% else %}
                    No bookmarks yet.
                {% endif %}
        </section>
    </article>
{% endblock %}